---
import '../styles/global.css';
import * as globals from '../../globals.js';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import ScrollButton from '../components/ScrollButton.astro';
import Meta from '../components/Meta.astro';

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <title>{title || globals.description}</title>
    <Meta />
  </head>
  <body>
    <ScrollButton />
    <Header />
    <main>
      <div class="main-content">
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>

<style>
  body {
    background-color: var(--color-bg);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: var(--min-width);
    display: flex;
    flex-direction: column;
  }

  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    margin-top: var(--header-height);
  }

  .main-content {
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: var(--max-width);
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    padding-left: var(--small-gap);
    padding-right: var(--small-gap);
  } 

</style>